@import "../fonts/ruddy.css";

html {
  height: 100%;
  min-height: 100%;
}

body {
  display: flex;
  height: 100%;
  min-height: 100%;
  flex-direction: column;
}

header {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-evenly;
  background-color: #F6C452;
}

header .header-brand img {
  margin: 5px 0;
  width: 120px;
}

header .header-nav {
  flex-grow: initial;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: space-between;
  font-weight: bold;
  list-style: none;
  padding: 5px 0 0 0;
  margin:0;
}

header nav a {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  font-family: ruddy, sans-serif;
}

header nav .ancestor a,
header nav .selected a {
  text-decoration: underline;
  text-underline-offset: .4em;
}

nav ul.nav-submenu {
  border-top: thin solid #CF4379;
}

nav ul.nav-submenu a,
nav ul.nav-submenu a:visited,
nav ul.nav-submenu a:active,
nav ul.nav-submenu a:hover {
  color: #CF4379;
  font-weight: normal;
}

header .header-authentication {
  padding: 5px 0;
  text-align: right;
}

.btn {
  border-radius: 30px;
  font-family: ruddy, sans-serif;
}

.btn, .btn-group {
  margin: 3px;
}

.btn-group > .btn {
  margin: 0;
}

.btn-default,
.btn-default:hover {
  border-color: #153996;
}

.dropdown-school-year .btn,
.btn-pink {
  color: #fff;
  background-color: #E1327A;
  border-color: #E1327A;
}

main {
  background-color: #54E6E6;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 800 20"><path d="M0,0V10q200,15,400,0q200,-15,400,0V0H0" fill="%23F6C452"/></svg>');
  background-size: 800px 20px;
  background-repeat: repeat-x;
  background-position: top left;
  flex: 1;
}

main > .container,
.container-list-form .list-list {
  padding: 45px 0;
}

h1 {
  color: #153996;
}

h1,
h2,
h3 {
  font-family: ruddy, sans-serif;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

footer {
  background-color: #F6C452;
  padding: 45px;
}

footer img {
  width: 50%;
  margin: 15px;
}

footer img.eu {
  width: 80%;
  margin: 10px;
}

footer img.fb {
  width: 30%;
}

a,
a:visited,
a:active,
a:hover {
  color: #153996;
}

a.btn-primary,
a.btn-primary:visited,
a.btn-primary:active,
a.btn-primary:hover {
  color: #fff;
}

button.accordion-button {
  color: #153996;
  font-family: ruddy, sans-serif;
  font-weight: bold;
}

input.form-control[type="checkbox"],
input.form-control[type="radio"] {
  appearance: auto;
}

.card {
  border-radius: 2rem;
  margin: 15px;
  max-width: 350px;
}

.card .card-img-top {
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.card-body {
  display: flex;
  flex-direction: column;
  padding-top: 0;
}

.card a .card-title,
.card a:active .card-title,
.card a:visited .card-title {
  font-family: ruddy, sans-serif;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: black;
  margin: 0;
  padding: 15px;
}

.card > a,
.card > a:active,
.card > a:visited {
  text-decoration: none;
  color: black;
}

.card > a:hover {
  text-decoration: underline;
  text-underline-offset: .4rem;
  color: black;
}

.detail {
  display: flex;
  gap: 30px;
}

.right {
  text-align: right;
}

.list-form {
  background-color: #F6C452;
  padding: 25px;
}

.card {
  background-color: #F6C452;
}

.list-form-course,
.card-course {
  background-color: #F25D9A;
}

.list-form-event,
.card-event {
  background-color: #F28E83;
}

.list-form-event[class*=" list-form-tabory"],
.card-event[class*=" card-tabory"] {
  background-color: #A66AED;
}

.container-salmon {
  background-color: #F28E83;
  padding: 45px;
}

.container-yellow {
  background-color: #F6C452;
  padding: 45px;
}

.container-purple {
  background-color: #A66AED;
  padding: 45px;
}

[data-bs-toggle="collapse"] {
  cursor: pointer;
}

.hidden {
  display: none;
}

label {
  font-weight: normal;
}

.required > .control-label {
  font-weight: bold;
  padding-right: 10px;
  position: relative;
}

.required > .control-label:after {
  color:red;
  content:"*";
  position: absolute;
  top: 10px;
  right: 0px;
}

input.form-control[type="checkbox"] {
  width: unset;
}

.checkbox input.form-control[type="checkbox"] {
  height: unset;
  position: relative;
  display: unset;
  margin-left: unset;
}

img.cursor-follower {
  position: absolute;
  width: 64px;
  height: 64px;
  overflow: hidden;
}

.article .detail-image {
  float: right;
  margin: 15px 15px 30px 30px;
}

@media (min-width: 576px) {
  .container-list-form {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
  .list-form {
    max-width: 250px;
  }
  .list-list {
    flex-grow: 1;
  }
  .list-list > .container {
    max-width: 260px;
  }
  .cards-list {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 768px) {
  .list-form {
    max-width: 300px;
  }
  .list-list > .container {
    max-width: 420px;
  }
  .cards-list {
    grid-template-columns: 1fr 1fr;
  }
  .list-list .cards-list {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 992px) {
  .list-form {
    max-width: 300px;
  }
  .list-list > .container {
    max-width: 660px;
  }
  .cards-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .list-list .cards-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .list-list > .container {
    max-width: 860px;
  }
  .cards-list,
  .list-list .cards-list {
      grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1400px) {
  .list-list > .container {
    max-width: 1060px;
  }
}
