{% load i18n cache cms_tags menu_tags leprikon_tags sekizai_tags static ganalytics %}
<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} &mdash; Dům dětí a mládeže Mikulov, příspěvková organizace</title>
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="DDM Mikulov nabízí zábavu pro volný čas, ubytování v Mikulově, zájmové, taneční, umělecké, hudební a sportovní kroužky, akce pro děti, dětské tábory, klub maminek, národopisné soubory, Mikulov, kroužky, děti, dům dětí a mládeže" />
    <meta name="description" content="DDM Mikulov nabízí zábavu pro volný čas, ubytování v Mikulově, zájmové, taneční, umělecké, hudební a sportovní kroužky, akce pro děti, dětské tábory, klub maminek aj." />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    {% if backends %}<!-- Bootstrap social -->
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'leprikon/lib/font-awesome/css/font-awesome.min.css' %}"/>
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'leprikon/lib/bootstrap-social.min.css' %}"/>
    {% endif %}
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/style.css' %}" />
    {% render_block "css" %}
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.0/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'apple-touch-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'apple-touch-icon-60x60.png' %}">
    <link rel="icon" type="image/png" href="{% static 'favicon-16x16.png' %}" sizes="16x16">
    <link rel="icon" type="image/png" href="{% static 'favicon-32x32.png' %}" sizes="32x32">
    <meta name="msapplication-TileColor" content="#da532c">
</head>

<body>
    {% cms_toolbar %}
    <header>
        <div class="header-brand">
            <a href="/" class="logo" title="DDM Mikulov">
                <img src="{% static 'img/logo.png' %}" alt="DDM Mikulov"/>
            </a>
        </div>
        <nav class="header-nav">
            {% show_menu 0 100 0 100 'menu.html' 'CMSMenu,LeprikonMenu' %}
        </nav>
        <div class="header-authentication">
            {% school_year_form %}
            <div class="dropdown dropdown-authentication">
                <button class="btn btn-sm dropdown-toggle m-1" type="button" id="user_menu" data-bs-toggle="dropdown" aria-expanded="false">
                    {% if request.user.is_authenticated %}{{ request.user.get_full_name | default:request.user.get_username }}
                    {% else %}{% trans 'Anonymous user' %}{% endif %}
                </button>
                <ul class="dropdown-menu">
                    {% show_menu 0 100 100 100 'leprikon/user_menu.html' 'UserMenu' %}
                </ul>
            </span>
        </div>
    </header>
    <main>
        {% block base_content %}
        {% block content %}
        {% placeholder "content" %}
        {% endblock %}
        {% endblock %}
        {% if request.path == '/' %}{% include "follow-cursor.html" %}{% endif %}
    </main>
    <footer>
        <div class="container">
            <div class="row">
                <div class="footer-logo col-sm-3">
                    <a href="/" class="logo" title="DDM Mikulov">
                        <img class="logo" src="{% static 'img/logo.png' %}" alt="DDM Mikulov"/>
                    </a>
                    <img class="eu" src="{% static 'img/eu.png' %}" alt="Spolufinancováno Evropskou unií"/>
                    <br/>
                    <a href="https://www.facebook.com/profile.php?id=100038893914054" class="fb" target="_blank" title="Náš profil na FB">
                        <img class="fb" alt="Náš profil na FB" src="{% static 'img/facebook.svg' %}"/>
                    </a>
                </div>

                <div class="footer-contact col-sm-7">
                    {% static_placeholder "Kontakt" %}
                </div>

                <div class="footer-leprikon col-sm-2">
                    <a href="https://leprikon.cz/" target="_blank" title="Informační systém Leprikón">
                        <img src="{% static 'leprikon/logo.png' %}" alt="Informační systém Leprikón"/>
                    </a>
                </div>
            </div>
        </div>
    </footer>
</body>

{% render_block "js" %}
</html>
