{% load i18n cache cms_tags menu_tags leprikon_tags rocketchat sekizai_tags staticfiles ganalytics %}
<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} &mdash; Dům dětí a mládeže Mikulov, příspěvková organizace</title>
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="DDM Mikulov nabízí zábavu pro volný čas, ubytování v Mikulově, zájmové, taneční, umělecké, hudební a sportovní kroužky, akce pro děti, dětské tábory, klub maminek, národopisné soubory, Mikulov, kroužky, děti, dům dětí a mládeže" />
    <meta name="description" content="DDM Mikulov nabízí zábavu pro volný čas, ubytování v Mikulově, zájmové, taneční, umělecké, hudební a sportovní kroužky, akce pro děti, dětské tábory, klub maminek aj." />
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <link href="{% static 'css/ie.css' %}" rel="stylesheet" type="text/css" />
    <![endif]-->
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'leprikon/lib/bootstrap/css/bootstrap.min.css' %}"/>
    {% if backends %}
    <!-- Bootstrap social -->
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'leprikon/lib/font-awesome/css/font-awesome.min.css' %}"/>
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'leprikon/lib/bootstrap-social.min.css' %}"/>
    {% endif %}
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'leprikon/css/layout.css' %}"/>
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'leprikon/css/chat.css' %}"/>
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/style.css' %}" />
    {% render_block "css" %}
    <script src="{% static 'js/clearbox.js' %}?dir=http://www.ddmmikulov.cz/js/clearbox&amp;lng=cz&amp;config=default" type="text/javascript"></script>
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'apple-touch-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'apple-touch-icon-60x60.png' %}">
    <link rel="icon" type="image/png" href="{% static 'favicon-16x16.png' %}" sizes="16x16">
    <link rel="icon" type="image/png" href="{% static 'favicon-32x32.png' %}" sizes="32x32">
    <meta name="msapplication-TileColor" content="#da532c">

    <script src="{% static 'leprikon/lib/jquery.min.js' %}"></script>
</head>

<body class="subpage-info">
    {% cms_toolbar %}
    <div id="site-container">
        <div class="web-container">
            <header class="page-header clearfix">
                <h1>
                    <a href="http://www.ddmmikulov.cz/cz/" class="logo" title="DDM Mikulov">
                        <img src="{% static 'img/logo.png' %}" alt="DDM Mikulov">
                    </a>
                </h1>

                <div class="related-sites">
                    <span class="mail"><a href="mailto:info@ddmmikulov.cz">info@ddmmikulov.cz</a></span>
                    <span class="telefon">723 441 495, 702 222 890</span>

                    <div class="search">
                        <form action="http://www.ddmmikulov.cz/cz/hledat/" method="post">
                        <input type="text" name="search" placeholder="Hledat…" />
                        <input type="submit" value="" />
                        </form>
                    </div>
                </div>

                <div class="related-sites" style="text-align: right; padding-right: 15px;">
                    {% school_year_form %}
                    {% include 'leprikon/user_dropdown.html' %}
                    {% chat %}
                </div>

                <div class="clearfix"></div>

                <nav class="navigation">
                    <ul>
                        <li class='menu36'><a href="http://www.ddmmikulov.cz/cz/" title='Domů' >Domů</a></li>
                        <li class='menu9'><a href="/cz/akce/" title="Akce">Akce</a></li>
                        <li class='menu24'>
                            <a href="javascript:" title="Kroužky">Kroužky</a>
                            <ul>
                                {% show_menu_below_id "krouzky" 0 100 0 1 %}
                            </ul>
                        </li>
                        {% cache 300 menu65 %}
                        {% upstream 'https://www.ddmmikulov.cz/cz/' '//nav//li[contains(concat(@class, " "), "menu65 ")]' '/http:/https:/' %}
                        {% endcache %}
                        <li class='menu8'>
                            <a href="javascript:" title="Tábory">Tábory</a>
                            <ul>
                                {% show_menu_below_id "tabory" 0 100 0 1 %}
                            </ul>
                        </li>
                        {% cache 300 menu64-1 %}
                        {% upstream 'https://www.ddmmikulov.cz/cz/' '//nav//li[contains(concat(@class, " "), "menu64 ")]' '/http:/https:/' %}
                        {% upstream 'https://www.ddmmikulov.cz/cz/' '//nav//li[contains(concat(@class, " "), "menu1 ")]' '/http:/https:/' %}
                        {% endcache %}
                        <li class='menu167'>
                            <a href="javascript:" title='Přihlašování' >Přihlašování</a>
                            <ul>
                                {% show_menu_below_id "leprikon" 0 100 0 1 %}
                            </ul>
                        </li>
                    </ul>
                </nav>
            </header>
            {% block base_content %}{% endblock %}
            <div class="clearfix"></div>
        </div>
        <footer class="page-footer">
            <div class="web-container">
                <div class="logo-footer">
                    <a href="http://www.ddmmikulov.cz/cz/" class="logo" title="DDM Mikulov">
                        <img src="{% static 'img/logo_footer.png' %}" alt="DDM Mikulov">
                    </a>
                </div>

                <div class="contact">
                    <p>
                        Dům dětí a mládeže Mikulov<br />
                        Mikulov, Svobody 241/6<br />
                        mail: <a href="mailto:info@ddmmikulov.cz">info@ddmmikulov.cz</a><br />
                        telefon: 723 441 495, 702 222 890
                    </p>
                </div>

                <div class="fb-footer">
                    <p>
                    <a class="dom" href="http://www.ddmmikulov.cz/cz/">www.ddmmikulov.cz</a>
                    <a href="https://www.facebook.com/pages/DDM-Mikulov/645359742241123"><img src="{% static 'img/fb.png' %}" alt="Facebook" /></a>
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
        </footer>
    </div>
</body>
<script type="text/javascript" src="{% static 'leprikon/lib/bootstrap/js/bootstrap.min.js' %}"></script>

{% render_block "js" %}
{% livechat %}
</html>
