{% extends "base.html" %}
{% load cms_tags menu_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock %}
{% block meta_description %}{% page_attribute "meta_description" %}{% endblock %}

{% block base_content %}

<div id="introduction" class="clearfix">
    <img src="http://www.ddmmikulov.cz/img/foto_ddmnew.jpg" alt="DDM Mikulov">
</div>

<main id="maine" class="bootstrap">
    <article class="box main">
        <header class="heading"><h2>{% block h2 %}{% page_attribute "title" %}{% endblock %}</h2></header>
        {% block content %}{% placeholder "content" %}{% endblock %}
    </article>
</main>

{% endblock %}
