{% extends "base.html" %}
{% load cms_tags menu_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock %}
{% block meta_description %}{% page_attribute "meta_description" %}{% endblock %}

{% block base_content %}

<div id="introduction" class="clearfix">
    <img src="http://www.ddmmikulov.cz/img/foto_ddmnew.jpg" alt="DDM Mikulov">
</div>

<main id="maine" class="bootstrap">
    <article class="box main">
        <header class="heading"><h2>{% block h2 %}{% page_attribute "title" %}{% endblock %}</h2></header>
        <div class="col-md-9 col-sm-8">{% block content %}{% placeholder "content" %}{% endblock %}</div>
        <div class="col-md-3 col-sm-4">
            <nav class="list-group">
                {% show_menu_below_id "leprikon" 0 100 1 0 'leprikon/menu.html' %}
            </nav>
        </div>
    </article>
</main>

{% endblock %}
